@import 'bootstrap';
@import 'bootstrap-icons';

:root {
  --light: white;
  --medium-light: rgb(241, 241, 241);
  --medium: rgb(195, 195, 195);
}

body {
  min-height: 100vh;
}

.container {
  width: 60%;
}

.card {

  border-radius: 0;
  border: none;

  img {

    height: 400px;
    object-fit: cover;
  }
}

.card-img-top {
  border-radius: 0;
  border: none;
}

.footer-up {
  background-color: var(--medium-light);

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-low {

  background-color: var(--medium);
}