@import 'bootstrap';
@import 'bootstrap-icons';

:root {
  --light: white;
  --medium-light: rgb(241, 241, 241);
  --medium: rgb(195, 195, 195);
}

body {
  min-height: 100vh;
}

.container {
  width: 60% !important;
}

header {
  background-color: var(--medium-light);

  img {
    max-width: 15rem;
    padding-block: 1rem;
  }
}

.card {

  border-radius: 0 !important;
  border: none !important;
  background-color: black !important;


  img {

    max-height: 400px;
    object-fit: cover;
  }
}

.card-img-top {
  border-radius: 0 !important;
  border: none;
}

footer {
  background-color: var(--medium-light);
}

.footer-up {

  width: 80%;
  margin: auto;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-low {

  background-color: var(--medium);
}